:root {

  /* Sizes */
  --size-px: 1px;
  --size-5: 0.125rem; /* 2px */
  --size-10: 0.25rem; /* 4px */
  --size-15: 0.375rem; /* 6px */
  --size-20: 0.5rem; /* 8px */
  --size-25: 0.625rem; /* 10px */
  --size-30: 0.75rem; /* 12px */
  --size-35: 0.875rem; /* 14px */
  --size-40: 1rem; /* 16px */
  --size-50: 1.25rem; /* 20px */
  --size-60: 1.5rem; /* 24px */
  --size-70: 1.75rem; /* 28px */
  --size-80: 2rem; /* 32px */
  --size-90: 2.25rem; /* 36px */
  --size-100: 2.5rem; /* 40px */
  --size-110: 2.75rem; /* 44px */
  --size-120: 3rem; /* 48px */
  --size-140: 3.5rem; /* 56px */
  --size-160: 4rem; /* 64px */
  --size-200: 5rem; /* 80px */
  --size-240: 6rem; /* 96px */
  --size-280: 7rem; /* 112px */
  --size-320: 8rem; /* 128px */
  --size-360: 9rem; /* 144px */
  --size-400: 10rem; /* 160px */
  --size-440: 11rem; /* 176px */
  --size-480: 12rem; /* 192px */
  --size-520: 13rem; /* 208px */
  --size-560: 14rem; /* 224px */
  --size-600: 15rem; /* 240px */
  --size-640: 16rem; /* 256px */
  --size-720: 18rem; /* 288px */
  --size-800: 20rem; /* 320px */
  --size-960: 24rem; /* 384px */
  --size-max: 100vmax;
  
  /* Colors */
  --clr-primary-100: hsl(278, 68%, 11%);
  --clr-primary-600: hsl(279, 6%, 55%);
  --clr-primary-900: hsl(270, 3%, 87%);
  --clr-secondary-300: hsl(278, 94%, 30%);
  --clr-secondary-600: hsl(249, 99%, 64%);
  --clr-error-700: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font Sizes */
  --fs-2xs: 0.563rem; /* 9px */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  //--fs-xl: 1.25rem; /* 20px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-3xl: 1.75rem; /* 28px */
  //--fs-3xl: 1.875rem; /* 30px */
  --fs-4xl: 2.25rem; /* 36px */
  //--fs-5xl: 3rem; /* 48px */
  //--fs-6xl: 3.75rem; /* 60px */
  //--fs-7xl: 4.5rem; /* 72px */
  //--fs-8xl: 6rem; /* 96px */
  //--fs-9xl: 8rem; /* 128px */

  /* Font Families */
  --ff-primary: "Space Grotesk", sans-serif;

  /* Font Weights */
  --fw-primary: 500;

  /* Transition/Animation Speeds */
  --speed-faster: 400ms;
  --speed-fastest: 200ms;

  /* Default Color Scheme */
}
