:where(.flow) {
  > :not([data-state="is-hidden"]) + * {
    margin-block-start: var(--flow-space, var(--size-40));
  }
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-wide {
  letter-spacing: var(--size-5);
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

[data-state="is-hidden"] {
  display: none;
}